<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alibaba.sdk.aligeniesdkdemo">
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <application
        android:name="com.yunos.tv.alitvasr.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name="com.alibaba.ailabs.geniesdk.NativeService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.alibaba.ailabs.tg.ACTION_BIND" />
                <action android:name="com.yunos.tv.alitvasr.service" />
            </intent-filter>
        </service>

        <activity android:name="com.yunos.tv.alitvasr.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.yunos.tv.alitvasr.NearFieldDemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.yunos.tv.alitvasr.ProcessedAudioDataDemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.yunos.tv.alitvasr.RawAudioDataDemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.yunos.tv.alitvasr.TextStreamDataDemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>